<!DOCTYPE html>
<html lang="es">
	<head>
		<!--Metadatos-->
		<meta charset="utf-8" />
		<meta name="author" content="uBike" />
		<meta name="description" content="Página para usuarios uBike" />
		<meta
			name="keywords"
			content="uBike, bicicletas, usuario, bicicletero" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--Bootstrap-->
		{% load static %}
		<link
			href="{% static 'core/css/bootstrap.min.css' %}"
			rel="stylesheet"
			crossorigin="anonymous" />
		<!--Titulo-->
		<title>uBike</title>
		<!--Icon-->
		{% load static %}
		<link
			rel="icon"
			type="image/x-icon"
			href="{% static 'core/icon_bici.jpg' %}" />

		<!--Fonts-->
		<style>
		{% load static %}
		@font-face {
			font-family: 'Noto Sans';
			font-style: normal;
			font-weight: 100 900;
			font-stretch: 100%;
			font-display: swap;
			src: url({% static 'core/fonts/NotoSans900.woff2' %}) format('woff2');
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}

		</style>			

		<!--CSS-->
		{% load static %}
		<link href="{% static 'core/css/vacia.css' %}" rel="stylesheet" />
		<link
			rel="stylesheet"
			href="{% static 'core/css/leaflet.css'%}"/>
		{% block insertcss %}
		{% endblock %}
	</head>

	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<a
					class="navbar-brand navbar-sm"
					href="{% url 'welcome_view' %}"
					>uBike</a
				>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarText"
					aria-controls="navbarText"
					aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarText">
					<ul class="navbar-nav container me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a
								class="nav-link active"
								aria-current="page"
								href="{% url 'welcome_view' %}"
								>Inicio</a
							>
						</li>
						<li class="nav-item">
							<a
								class="nav-link active"
								href="{% url 'user_view' %}"
								>Perfil</a
							>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="{% url 'emergency_view' %}">Ayuda</a>
						</li>
						<li class="nav-item">
							{% if user.is_authenticated %}
							<form action="{% url 'logout' %}" method="post">
								{% csrf_token %}
								<button type="submit" class="btn btn-danger">
									Cerrar Sesión
								</button>
							</form>
							{% endif %}
						</li>
					</ul>
				</div>
			</div>
		</nav>

		{%block main%} {% endblock %}

		<footer class="d-flex custom-footer">
			<p>uBike</p>
			<p>-</p>
			<p>Copyright &copy; 2024</p>
			<p>-</p>
			<p>
				<a
					href="https://github.com/Technopy311/UBike/tree/main"
					target="_blank"
					rel="noopener noreferrer"
					>Github
				</a>
			</p>
		</footer>

		{% load static %}
		<script
			src="{% static 'core/js/bootstrap.bundle.min.js'%}"
			crossorigin="anonymous"></script>
		<script
			src="{% static 'core/js/leaflet.js' %}"
			crossorigin=""></script>

		{% block insertjs %}
		{% endblock %}
	</body>
</html>
