{% extends 'core/base.html'%}

{% block main %}
<main>
	<!--Title and search bar-->
	<div class="container-fluid py-3">
		<div class="row text-center my-4">
			<h1 class="mx-auto whitetext" id="titulo">Panel de Seguridad</h1>
		</div>

		<div class="row my-2 mx-auto">
			<form class="container-fluid" action="{% url 'guard_view' %}" method="post">
				<div class="input-group">
					<span class="input-group-text" id="basic-addon1">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="16"
							height="16"
							fill="currentColor"
							class="bi bi-search"
							viewBox="0 0 16 16">
							<path
								d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
						</svg>
					</span>
					<input
						type="text"
						class="form-control"
						placeholder="Buscar bicicleta"
						aria-label="Buscar bicicleta"
						aria-describedby="basic-addon1"
						name="search_bicycle_info" />
				</div>
			</form>
		</div>
	</div>
	<!--Accordions-->
	<div class="container-fluid py-2 mb-4 mx-2">

		<!--Accordion ultimas bicicletas-->
		<div class="accordion mt-2 mb-4" id="latestregistered">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button
						class="accordion-button hola"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#latestregisteredcollapse"
						aria-expanded="true"
						aria-controls="latestregisteredcollapse">
						Últimas bicicletas registradas
					</button>
				</h2>
				<div
					id="latestregisteredcollapse"
					class="accordion-collapse collapse show"
					data-bs-parent="#accordion">
					<div class="accordion-body py-4">
						<table class="table">
							<thead>
							  <tr>
								<th scope="col">#</th>
								<th scope="col">Nombre</th>
								<th scope="col">Apellido</th>
								<th scope="col">Rut</th>
								<th scope="col">Detalle</th>
							  </tr>
							</thead>
							<tbody>
							{% for bicycle in latest_bicycles %}
							  <tr>
								<th scope="row">{{ bicycle.pk }}</th>
								<td>{{ bicycle.bicy_user.username }}</td>
								<td>{{ bicycle.bicy_user.last_name }}</td>
								<td>{{ bicycle.bicy_user.run }}</td>
								<td>
									<a href="#">Ver detalle</a>
								</td>
							  </tr>
							{% endfor %}
							</tbody>
						  </table>
					</div>
				</div>
			</div>
		</div>

		<!-- Accordion resultados de búsqueda -->
		{% if search_results %}
		<div class="accordion mb-2 mt-3" id="resultsearch">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button
						class="accordion-button"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#resultsearchcollapse"
						aria-expanded="true"
						aria-controls="resultsearchcollapse">
						Resultados de búsqueda
					</button>
				</h2>
				<div
					id="resultsearchcollapse"
					class="accordion-collapse collapse show"
					data-bs-parent="#accordion">
					<div class="accordion-body py-4">
						<table class="table">
							<thead>
							  <tr>
								<th scope="col">#</th>
								<th scope="col">Nombre</th>
								<th scope="col">Apellido</th>
								<th scope="col">Rut</th>
								<th scope="col">Modelo</th>
								<th scope="col">Color</th>
							  </tr>
							</thead>
							<tbody>
							{% for result in search_results %}
							  <tr>
								<th scope="row">{{forloop.counter}}</th>
								<!--<td>{{ user.pk }}</td>-->
								<td>{{ user.username }}</td>
								<td>{{ user.last_name }}</td>
								<td>{{ user.run }}</td>
								{% for bicycle in user.bicycle_set.all %}
								<td>{{ bicycle.model }}</td>
								<td>{{ bicycle.colour }}</td>
								{% endfor %}
							  </tr>
							{% endfor %}
							</tbody>
						  </table>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
</main>
{% endblock %}