{% extends 'core/base.html' %} {% block main %}
<main class="py-5 my-5 container">
	<!-- Encabezado -->
	<header class="text-center mb-5">
		<h2 class="welcome-message whitetext">¡Bienvenido, {{name}}!</h2>
	</header>

	<!-- Sección de Datos Bicicleta -->
	<section class="text-center mb-5">
		<h3 class="whitetext">Datos de tu Bicicleta</h3>
	</section>

	<!-- Contenido -->
	<div class="col-10 mx-auto">
		<!-- Información de la bicicleta -->
		<div class="card card-custom mb-4">
			<div class="card-body">
				<h5 class="card-title">Modelo:</h5>
				<p class="card-text">{{model}}</p>
			</div>
		</div>
		<div class="card card-custom mb-4">
			<div class="card-body">
				<h5 class="card-title">Color:</h5>
				<p class="card-text">{{colour}}</p>
			</div>
		</div>
		<div class="card card-custom mb-4">
			<div class="card-body">
				<h5 class="card-title">Estado:</h5>
				{% if status %}
				<p class="card-text">Guardada</p>
				{% else %}
				<p class="card-text">No guardada</p>
				{% endif %}
			</div>
		</div>
		{% if holder != 0 %}
		<div class="card card-custom mb-4">
			<div class="card-body">
				<h5 class="card-title">Ubicación:</h5>
				<div class="location-info">
					<i class="bi bi-geo-alt-fill"></i>
					<p class="card-text">
						Bicicletero Nro. {{holder}} cerca del edificio {{nearby}}.
					</p>
				</div>
			</div>
		</div>
		{% if holder_x_coord != None %}
        <div class="card card-custom mb-4">
			<div class="card-body">
				<h5 class="card-title">Mapa</h5>
				<div id="map" style="height: 400px"></div>
			</div>
		</div>
        {% endif %}
		{% endif %}
		<div class="card card-custom mb-4">
			<div class="card-body">
				<h5 class="card-title">Tu bicicleta:</h5>
				<img src="{{image_url}}" class="img-fluid rounded mb-3 mx-auto d-block" style="max-width: 45%; max-height: 50%;"/>
			</div>
		</div>
	</div>
</main>
{% endblock %} 

{% block insertjs %}
{% if holder != 0 and holder_x_coord != None %}
<script>

	var map = L.map('map').setView([-33.4909888, -70.61878889], 16.5); //viewport USM's San Joaquin coordinates and zoom
    var marker = L.marker([ {{holder_x_coord}}, {{holder_y_coord}} ]).addTo(map);
    marker.bindPopup("<b>Tu bicicleta está aquí</b>").openPopup();
	L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
		maxZoom: 19,
		attribution:
			'&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
	}).addTo(map);
</script>
{% endif %}
{% endblock %}
