body {
	color: white;
	font-family: sans-serif;
	background: rgb(53,49,117);
	background: linear-gradient(349deg, rgba(53,49,117,1) 3%, rgba(53,150,237,1) 76%, rgba(183,220,235,1) 100%);
}

h1{
	font-weight: bolder;
}
h5{
	font-weight: 500;
}